<div class="todos">
    <form (submit)="addTodo()">
        <input type="text" name="inputTodo" placeholder="Enter task here" class="todo-input" [(ngModel)]="inputTodo" />
        <input type="submit" value="Add to List" class="todo-submit" />
    </form>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
        <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
        <input type="checkbox" name="completed-checkbox" (click)="toggleDone(i)">
        <label for="completed-checkbox">Complete</label>
        <button class="delete" (click)="deleteTodo(i)">Remove</button>
    </div>
</div>
